<nav class="navbar navbar-expand-md navbar-dark"  style="background-color: #67aee0;">

  <a class="navbar-brand" href="/">Issue Tracker Tool</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav">

      <li class="nav-item">

        <a class="nav-link" (click)="goToSignUp()">SignUp</a>

      </li>

    </ul>

  </div>

</nav>

<div class="row p-0 m-0" style="background-color: #c9ced1;">

  <div class="col-sm"></div>

  <div class="col-sm p-5">

    <h2 class="form-signin-heading">Password Reset</h2>

    <label for="inputPassword" class="sr-only">Password</label>

    <input type="password" #pass="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="inputPassword" class="form-control"
      [(ngModel)]="password" placeholder="Password" required>

    <br>
    <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
      <div *ngIf="pass.errors?.pattern">
        Warning : Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters!
      </div>
      <div *ngIf="pass.errors?.required">
        Warning : Password is required!
      </div>
    </div>






    <label for="inputPassword" class="sr-only">Confirm Password</label>

    <input type="password" #conPass="ngModel" id="inputPassword1" class="form-control" [(ngModel)]="confirmPassword" placeholder="Confirm Password"
      required>

    <br>

    <div [hidden]="conPass.pristine || password==confirmPassword" class="alert alert-danger">
      <div *ngIf="password!=confirmPassword">
        Warning : Password and Confirm Password does not match!
      </div>
      <div *ngIf="conPass.errors?.required">
        Warning: Confirm Password is required!
      </div>
    </div>


    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="resetPassword()">Change Password</button>

  </div>

  <div class="col-sm"></div>

</div>